* {
    box-sizing: border-box;
}

:root {
    --dark: #4f5050;
    --light: #fdd49d;
    --navlink-color: #d8a47f;
    --header: #22222288;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-image: radial-gradient(var(--light), var(--dark));
    position: relative;
  }


  .header {
    padding: 2.0rem;
    background-color: var(--dark);
    color: var(--light);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
  }

  .header h1 {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0rem;
    text-transform: uppercase;
    width: 15rem;
    text-align: center;
    margin: auto;
    white-space: wrap;
    border: 0.2rem solid #222;
    padding: 0.5rem 1.1rem 0.3rem 1.1rem;
  }

  .header h1:before, .header h1:after {
    background-color: var(--light);
    position: absolute;
    content: '';
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    bottom: 50%;
  }
  .header h1:before {
    left: -2rem;
  }

  .header h1:after {
    right: -2rem;
  }

  .navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 5rem;
    align-content: end;
  }

  .navBar ul li a {
    display: block;
    color: var(--light);
    text-decoration: none;
    font-size: large;
    padding: 0.4rem;
  }

  .navBar li a:hover {
    opacity: 0.5;
  }
  
  .hero {
    height: 15rem;
    width: 100%;
    margin-bottom: 2.5rem;
    background-image: url("../images/hero.jpg");
    background-size: cover;
  }

  #aboutimg {
    max-height: 15rem;
  }

  #about {
    grid-area: about;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 1.5rem;
    padding-left: 10%;
    position: relative;
    display: flex;
  }

  #about::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.5rem;
    width: 5.5rem;
    background-color: #111;
  }

  #about::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    height: 0.1rem;
    width: 96%;
    max-width: 25.5rem;
    background-color: #333;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .projects {
    display: grid;
    margin: 0px 5%;
    padding: 2%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "bigCard bigCard"
    "smallCard1 smallCard2"
    "smallCard3 smallCard4";
    border: 2px solid black;
  }

  #bigCard {
    grid-area: bigCard;
    background-image: url("../images/horiseon.png");
    height: 25rem;
    position: relative;
    background-size: cover;
  }

  #bigCard a[href="https://c-woolrych.github.io/optimize-for-accessibility"] {
    display: inline-block;
    width: 100%;
    height: 25rem;
    font-size: 0;
  }

  #bigCard h2 {
    background-color: var(--header);
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .smallCardHeader{
    z-index: 1;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: -5rem;
  }

   .smallCardimage {
    background-position: center;
    max-height: 25rem;
    display: flex;
    justify-content: center;
  }

  .contact {
    margin: 3%;
    border: 0.2rem solid black;
    display: flex;
    justify-content: space-around;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .contact li {
    display: inline-block;
    padding-right: 4rem;
    font-size: 1.5rem;
  }

  .footer {
    padding: 2.0rem;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    box-shadow: 0 0 2.5rem 0 black;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .header h1 {
      max-width: 50%;
      font-size: 75%;
    }

    #about {
      display: none;
    }

    .projects {  
      display: block;
      width: 90%;
    }

    .smallCardimage {
      display: flex;
      justify-content: center;
      max-width: 75%;
      max-height: 60%;
    }

    .contact h2 {
      display: none;
    }

    .contact li {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 300px) {
    .header h1:before h1:after {
      display: none;
    }

    .contact li {
      font-size: 80%;
      display: flex;
      justify-content: center;
    }
  }


